Source: semplice-artwork
Section: graphics
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
#Build-Depends: bash, imagemagick, debhelper (>= 7)
Build-Depends: bash, debhelper (>= 7)
Standards-Version: 3.9.4
Homepage: http://launchpad.net/semplice

Package: semplice-artwork
Architecture: all
Depends: semplice-artwork-wallpapers, semplice-artwork-theme,
 semplice-artwork-login, semplice-artwork-icons
Description: Semplice System Artwork metapackage
 This package depends on the default artwork
 of the Semplice Project.

Package: semplice-artwork-wallpapers
Architecture: all
Description: Semplice System default Wallpapers
 This package contains the Semplice System default wallpapers.
 Actually, it contains:
  * atom: the default wallpaper.

Package: semplice-artwork-theme
Architecture: all
Depends: gtk2-engines-pixbuf, gtk2-engines-murrine, gtk3-engines-unico,
 ttf-droid
Recommends: dmz-cursor-theme
Description: Semplice System GTK+ and openbox themes
 This package contains:
  * SempliceNight: default theme based on MediterraneanNight.
  * SempliceDarkest: dark theme based on MediterraneanDarkest.

Package: semplice-artwork-login
Architecture: all
Conflicts: semplice-artwork-gdm3 (< 2.13.0)
Description: Semplice System Login Manager artwork
 This package contains the wallpaper needed by
 the login manager.

Package: semplice-artwork-gdm3
Architecture: all
Depends: gnome-icon-theme-symbolic, semplice-artwork-login
Recommends: gdm3
Description: Semplice System GDM3 artwork
 This package contains the artwork needed by GDM3.

Package: semplice-artwork-icons
Architecture: all
Depends: faenza-darkest-icon-theme
Description: Semplice System Icon theme
 This package contains the Faenza-Semplice icon theme, an
 Icon theme based on Faenza-Cupertino.
